body{
  max-width: none;
}
#content {
  margin: 0;
}
.sidenav {
  width: auto;
}
.sidenav-search {
  width: auto;
}
.sidenav > li > a {
  width: 100%;
}
.sidenav > li.nav-header > a{
 width: 100%; 
}
